header{
	background: url("..img/header.jpg") no-repeat center top fixed;
	height: 650px;
	width: 100%;

}
body{
	font-size:  16px;
	overflow-x: hidden;

}
footer{
	margin-top:  2%;
    height: 150px;
    bottom: 0;
    width: 100%;
}
.icon-bar{
	color: green;
}
.btn-Registro{
	margin-top: 2%;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}

.forma{
	border-color: green;
	margin-top: 20px;
}
.intro{
font-family: cursive;
	font-size: 16;
	font-style: italic;
	color: black;
	text-shadow: all;

}
#cerrar{
	margin-right: 1rem;
}
.boton{
	margin: auto;
}
hr { 
   width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
	border-width: 1px;
	background-color: green;
	height: 2.5px;
} 
.imagenes{
	width: 100%;
	height: 200px;
}
.app-footer{
	text-align: center;
	background: #f7f8fa;
	letter-spacing: 2px;
	margin-bottom: 0%;
	padding-top: 2%;
}
.app-texto{
bottom:o;
}
.mt{
	margin-top:3px;
}
.menu{
	margin-bottom: 8rem;
}
#fechaV{
 text-align: center;
 font-family: 'Times New Roman', Times, serif;
 font-size: 2em;
}
.pt{
	padding-top: 2%;
}
.proceso{
		background: url("..img/proceso.jpg") no-repeat center top fixed;
	height: 650px;
	width: 100%;
}
.titulo{
	text-align: center;
	
	letter-spacing: 2px;
	text-transform: uppercase;
		font-size: 2.5em;
	font-family: "Avenir", Futura, Helvetica, sans-serif;
}
.indicaciones{
	background: #f7f8fa;
}
.Proceso-intro{
	color: white;
}
.proceso-texto{
	letter-spacing: 2px;
text-align: center;
		font-size: 1.5em;
	font-family: "Avenir", Futura, Helvetica, sans-serif;
}
.numero{
	color: #0080d6;
font-size: 5.5em;

}
.tec{
	color: green;
}
.img-footer{
	margin: auto;
}
.paso1-texto{
	text-align: justify;
	letter-spacing: 2px;
	
	font-family: "Avenir", Futura, Helvetica, sans-serif;
			font-size: 1em;
}
.Paso2{
	background: #AED6F1;
}
.titulo-pasos{
	text-align: center;
	text-transform: uppercase;
	font-family: "Avenir", Futura, Helvetica, sans-serif;
			font-size: 1.5em;
}
.mipanel{
		border-color: green solid;
		border-width: .5em;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	background-color: #D0D3D4;
	background: rgba(0, 0, 0, 0.1);
	margin: auto;
	margin-top: 30px;


}
.indicacion-fecha{
	letter-spacing: 2px;
text-align: justify;
		font-size: 1em;
	font-family: "Avenir", Futura, Helvetica, sans-serif;
	padding-right: 150px;
	padding-left: 150px;
}
#Correos{
	color: black;
	size: 2em;
}
.icon{
	color: black;
}
.Fecha-Texto{
	letter-spacing: 2px;
	text-align: justify;
	font-size: 1em;
	font-family: "Avenir", Futura, Helvetica, sans-serif;
	padding-right: 150px;
	padding-left: 150px;
}
.RegistroExamen{
	padding-right: 10px;
}
.Fecha-Titulo{
		text-align: center;
		font-family: "Avenir", Futura, Helvetica, sans-serif;
		font-size: 1.8em;
}
#mainNav{
	border-color: green; 
	border-bottom-width: 5px;
	width: 100%;
}
.galfo{
	margin:auto;
	align-content: center;
}
.popover{
    width:200px;

}
.boton{
	margin-left: auto;
	 display: flex;
  justify-content: center;
 
}
.alerta{
	color:#FF0000;
}
.mover{
	margin-top: 5em;
}
.foto-usuario{
	border-radius: 50%;
}
.caja{
	-webkit-box-shadow: 0px 2px 42px 1px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 2px 42px 1px rgba(0,0,0,0.44);
box-shadow: 0px 2px 42px 1px rgba(0,0,0,0.44);
background-color: #ebe9e4;
padding-bottom: 6%;
border-radius: 10px 5px 10px 5px;
}
.letra-datos{
	font-size: 1.25em;
	padding-top: 3%;
	font-family: 'Times New Roman', Times, serif;
}
.contiene-datos{
	padding-top: 3%;
}
.boton-add{
	display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
	
	
}
.pr{
	padding-right: 10px;
	padding-left: 10px;
}
/**********************************
PANTALLA MEDIA
*********************************/
@media screen and (max-width: 800px) {
    body{font-size: 14px;}
    .indicacion-fecha{
    	padding-right: 10px;
	padding-left: 10px;
    }
    .Fecha-Texto{
	padding-right: 10px;
	padding-left: 10px;
}
    footer{
    	size: 90% !important;
	}
	#tablafechas{
		overflow: scroll;
	}

}
@media all and (min-width:780px){
	.intento{
	clear: left;
	float: left;
	text-align: left;	
}

}
@media all and (min-width:1000px){

		.intento{
	clear: right;
	float: right;
	text-align: left;	

	}	
	}

